<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242003868192-lstm0vhi9nk683vddavqpia23a9tk5ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242003868192-lstm0vhi9nk683vddavqpia23a9tk5ff</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>242003868192-mjtje03c56ciisg47iims6aioqrnv1qr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJkK1bk2CGee9VXeQCzsyea10ws0q_FEw</string>
	<key>GCM_SENDER_ID</key>
	<string>242003868192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.fridaysforfuture.app.official</string>
	<key>PROJECT_ID</key>
	<string>de-fridaysforfuture-app</string>
	<key>STORAGE_BUCKET</key>
	<string>de-fridaysforfuture-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242003868192:ios:66539a22582d8762c79a45</string>
	<key>DATABASE_URL</key>
	<string>https://de-fridaysforfuture-app.firebaseio.com</string>
</dict>
</plist>